*{
  box-sizing: border-box;
}
table{
    margin: 5px;
}
nav{
background-color: black;
color: white;
text-align: center;
vertical-align: middle;
padding: 1px;
border-spacing: 10px 15px;
margin: 0%;
}
.dsp{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  vertical-align: top;
}
.dskp{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    border-color:rgb(95, 95, 95);
    box-shadow: white;
    margin: 5px;

    
}
.center {
  margin-left: auto;
  margin-right: auto;
}
a{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: larger;
    
}
body{
    background-color: rgb(0, 0, 0);
}
.current{
    color: rgb(233, 53, 53);
}


h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bolder;
    
}
.feature{
    font-size: larger;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.imgdspk{
    text-align: middle;
}
td {
    border: none;
}
.dskb{
    background-color: red;
}
a.select {
    padding: 10px;
    text-decoration: none;
    background-color: #ffffff00;
    color: #f2f2f2;
    border: solid white;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    width: 155px;
    font-weight: bolder;
    font-size: x-large;

  }
  .location{
    margin: 5px;
    width: 1500px;
    height: 600px;
    max-width: 1920px;
  }
  .imageb{
    height: 50;
    width: 50;
  }
    * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1980px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .epfs{
    font-size: x-large;
    font-weight: bolder;
    color: rgb(255, 254, 253);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .acc{
    font-size:20px;
    color:white;
    background-color:#595959;
  }
  .price{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
  }
  .Thank{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    margin-bottom: 20px;
    background-color: #000000;
    border-radius: 20px;


  }
  .hif{
    font-size:xx-small;
    color: #13161b00;
  }

.container{
 padding: 2px 16px
}

.sizingfortext{
  margin:0%
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.para{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 30px;
    font-weight:bolder;
    margin: 10%
}

<!--footer part-->
.hashspace{
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    
}
.hash{
    background-color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    background-color: #13161B;
    text-decoration: none;
    
}
.footer-list{
    list-style-type: none;
    text-decoration: none;
}
.product{
    margin-left:0%;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footerhyper{
    text-decoration: none;
}
.footer{
    font-size: smaller;
    font-style: italic;
    color: #717171;    
}
th{
    font-size: larger;
    color: white;
}
.homefont{
    color: #910000; 
    font-size: larger;
    font-style: italic;
}
.logosize{
  border-radius: 5px;
    height:40px;
    width:40px;
    border: 3px solid #bbda5500;
}
.fonting{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: larger;
}

.gwsd{
   font-weight: bold;
   color: white;
   padding: 1px 0;

}

.columns {
  float: left;
  width: 25%;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.button {
  transition-duration: 0.4s;
  background-color: #ffffff00;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 8px 16px;
  border: 1px rgba(0, 0, 0, 0);
  font-size: large;

}


.button:hover {
  background-color: #ff0000;
  color: white;
  border-radius: 10px;
}

.header{
  font-weight:bold;
  font-size: 60px;
  margin-left:5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}